.title{
    color: rgb(249, 105, 42);
}
.lead{
    color: rgb(249, 105, 42); 
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}